{% extends "base.html" %}
{% load static %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'visitante_new'  %}">Visitante</a></li>
    <li class="breadcrumb-item active">Cadastrar</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
                </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-primary" role="alert">
                        Your account doesn't have access to this page. To proceed, please login with an account that has access.
                    </div>
                {% else %}
                    <div class="alert alert-secondary" role="alert">
                        Please login to see this page.
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <form class="col s12" method="post" action="{% url 'visitante_new' %}">
                    {% csrf_token %}
                    <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="p_nome">Nome</label>
                            {{ form.nome }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="m_nome">Email</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="grau">Telefone</label>
                            {{ form.telefone }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="local">Celular</label>
                            {{ form.celular }}
                        </div>
                        <div class="form-group col-md-12">
                            <label for="date_ev_str">Observações</label>
                            {{ form.observacoes }}
                        </div>
                    </div>
                    <div style="padding: 20px 0px 10px;" class="form-group row">
                        <button type="submit" class="btn btn-primary col-sm-12" value="visitante_new" name="visitante_new">
                            Salvar <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-12">

        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    var d = document.getElementById("id_email");
    d.className += " form-control col-sm-12 form-control-lg";
</script>

<script>
    var maskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    options = {onKeyPress: function(val, e, field, options) {
            field.mask(maskBehavior.apply({}, arguments), options);
        }
    };
    $('.phone').mask(maskBehavior, options);
</script>
{% endblock %}