{% extends "base.html" %}
{% load static %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'visitante_new'  %}">Visitante</a></li>
    <li class="breadcrumb-item active">Sorteio</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Sortear visitante!
                </h2>
                <p>
                    Clique no botão abaixo para iniciar o serteio.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Sortear</a>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visitante in visitantes %}
                    <tr>
                    <th scope="row">{{ visitante.id }}</th>
                    <td>{{ visitante.nome }}</td>
                    <td>{{ visitante.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}