{% extends "base.html" %}
{% load static %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Visitante</a></li>
    <li class="breadcrumb-item active">Cadastrado</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Obrigado!
                </h2>
                <p>
                    Cadastro realizado com sucesso.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="{% url 'visitante_new' %}">Adicionar Novo</a>
                </p>
            </div>
        </div>
        <div class="col-md-12">

        </div>
    </div>
</div>
{% endblock %}